h1{
    color: darkred;
}

img{
    width: 400px

}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: rgb(223, 205, 157);
    padding: 50px;
    border: 10px dark rgb(119, 134, 110) dotted;

    
}
#spanId{
    font-size: 18px;
    margin: 50px;
}